.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 53px;
    font-size: 17px;
    line-height: 53px;
    background-color: #fff;
    text-align: center;
    z-index: 1;
}

    .header .icon-header {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url(/images/1x/r.png);
        background-image: -webkit-image-set(url(/images/1x/r.png) 1x,url(/images/2x/r.png) 2x);
        background-position: center;
        position: absolute;
        right: 17px;
        top: 17px;
    }

.vedio {
    margin-top: 53px;
    height: 210px;
    overflow: hidden;
    background-color: #696969;
}

.menu {
    height: 45px;
    line-height: 45px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    font-size: 15px;
    padding-top: 2px;
    background-color: #ffffff;
}

    .menu ul li {
        width: 33.3%;
        float: left;
        text-align: center;
        line-height: 40px;
    }

        .menu ul li.selectd {
            color: #5abc9b;
            border-bottom: 3px solid #5abc9b;
        }

.article {
    background-color: #efefef;
    margin-top: 3px;
    margin-bottom: 68px;
    padding: 12px;
}

    .article .info {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 15px;
    }

        .article .info h3 {
            font-size: 17px;
            text-align: center;
            color: #5abc9b;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .article .info .table tr td.title {
            vertical-align: baseline;
        }

        .article .info .table tr td {
            line-height: 25px;
        }

    .article .section {
    }

        .article .section h3 {
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 16px;
        }

        .article .section .txt {
            text-indent: 2em;
        }

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 67px;
    padding: 12px 18px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
}

    .footer .clicbtn {
        width: 100%;
        line-height: 41px;
        font-size: 17px;
        background-color: #5abc9b;
        color: #f4fbf8;
        border-radius: 5px;
    }

.footer2 {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 12px 18px;
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
}

    .footer2 .clicbtn {
        width: 100%;
        line-height: 41px;
        font-size: 17px;
        color: #5abc9b;
        border: solid 1px #5abc9b;
        border-radius: 5px;
    }

.user-header {
    height: 76px;
    width: 70px;
    border-radius: 50px;
}

#divShare .info {
    color: #5abc9b;
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 20px;
}

    #divShare .info .icon-arrows {
        width: 58px;
        height: 45px;
        background-repeat: no-repeat;
        background-image: url(/images/1x/tip.png);
        background-image: -webkit-image-set(url(/images/1x/tip.png) 1x,url(/images/2x/tip.png) 2x);
        background-position: center;
    }

    #divShare .info .inco-menu {
        display: inline-block;
        width: 14px;
        height: 26px;
        background-repeat: no-repeat;
        background-image: url(/images/1x/tip.png);
        background-image: -webkit-image-set(url(/images/1x/tip.png) 1x,url(/images/2x/tip2.png) 2x);
        vertical-align: middle;
    }

    #divShare .info .bottontxt {
        margin-top: 4px;
    }

.questioning {
}

    .questioning .descrioin {
        width: 100%;
        height: 70px;
        text-align: center;
        color: #999999;
        padding-top: 23px;
    }

    .questioning .content {
        background-color: #ffffff;
        padding: 5px 15px 15px 17px;
        margin-bottom: 10px;
    }

        .questioning .content .media:first-child {
            margin-top: 0;
        }

        .questioning .content .media {
            padding: 10px 0px;
        }

        .questioning .content .media, .questioning .content .media-body {
            overflow: hidden;
            zoom: 1;
        }

        .questioning .content .media-body {
            width: 10000px;
        }

        .questioning .content .media-body, .questioning .content .media-left, .questioning .content .media-right {
            display: table-cell;
            vertical-align: top;
        }

        .questioning .content .media-left, .questioning .content .media > .pull-left {
            padding-right: 10px;
        }

        .questioning .content .media-object {
            display: block;
            width: 52px;
            height: 52px;
            border-radius: 50px;
            position: relative;
            top: 4px;
        }





        .questioning .content .media-body, .questioning .content .media-left, .questioning .content .media-right {
            display: table-cell;
            vertical-align: top;
            position: relative;
        }

        .questioning .content .media-heading {
            margin-top: 0;
            margin-bottom: 5px;
            color: #999999;
        }

            .questioning .content .media-heading .time {
                position: absolute;
                right: 0;
            }

        .questioning .content .media-body .begin {
            color: #5abc9b;
        }

        .questioning .content .dasheddiv {
            border-top: 1px dashed #CACACA;
        }

    .questioning .btngroup {
        width: 95%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 100px;
    }

        .questioning .btngroup td {
            text-align: center;
        }

        .questioning .btngroup .page {
            display: inline-block;
            color: #333;
            font-size: 16px;
            width: 80%;
            background-color: #fff;
            line-height: 38px;
            border: solid 1px #c9c9c9;
            border-radius: 6px;
        }

            .questioning .btngroup .page.disabled {
                color: #999999;
            }

    .questioning .postMesage {
        width: 100%;
        padding-top: 15px;
    }

        .questioning .postMesage .media-object {
            display: block;
            width: 52px;
            height: 52px;
            border-radius: 50px;
            position: relative;
            top: 0px;
        }

        .questioning .postMesage .text {
            width: 100%;
            height: 85px;
            border: solid 1px #5abc9b;
            padding: 8px;
            border-radius: 3px;
        }

        .questioning .postMesage .note {
            color: #999999;
            vertical-align: -webkit-baseline-middle;
        }

        .questioning .postMesage .btn {
            background-color: #5abc9b;
            color: #ffffff;
            line-height: 42px;
            width: 110px;
            font-size: 17px;
            text-align: center;
            border-radius: 3px;
            float: right;
        }

.comment {
    padding-bottom: 80px;
}

    .comment .item {
        padding: 17px 14px;
        border-bottom: 1px solid #CACACA;
    }

        .comment .item table {
            width: 100%;
        }

        .comment .item .media-object {
            display: block;
            width: 52px;
            height: 52px;
            border-radius: 50px;
        }

        .comment .item .time {
            color: #999999;
            font-size: 13px;
        }

        .comment .item .txt {
            padding: 12px 0px 10px;
        }

.form-control {
    display: block;
    width: 100%;
    height: 41px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
}

.footer.commetFrom {
    padding-left: 18px;
    padding-right: 18px;
}

.footer table {
    width: 100%;
}

    .footer table .btnCont {
        width: 24%;
        padding-left: 8px;
    }

    .footer table .sendComment {
        width: 100%;
        min-width: 85px;
    }
